/* App.css */

table {
  border-collapse: collapse; /* Remove cell spacing */
  border: 1px solid antiquewhite; /* Set the border color to antiquewhite */
  width: 100%;
  color:white;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid antiquewhite; /* Set the border color for table cells to antiquewhite */
}

/* ... (other styles) ... */



body {
  background-color: black;
}

h1 {
  color:white;
  justify-content: center;
  margin-left:350px;
}


h3 { 
  color:bisque;
  margin-left: 580px;
}